:root {
    --main-text-color: #212121;
    --accent-color: #2196F3;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

body {
    font-family: roboto, sans-serif;
    color: #212121;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    
}




/* -------PORTFOLIO BTN------- */

.btn-list {
    
}
.btn-list-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.btnnn:hover, 
.btnnn:focus {
    background-color: #2196F3;
    color: #ffffff;
    cursor: pointer;
}



/* -------PORTFOLIO PROJECTS------- */

.projects-img {
    url(portfolio2.jpg);
}
.projects-list-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}
.projects-list-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: #757575;
}



/* -------HEAD------- */

.logo {
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: #2196F3;
}

.studio { 
    color: #000000;
}

.menu-item>a {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;}
.menu-item:hover>a {
    color: #2196F3;
}




.contacts {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: #757575;
}


.contacts:hover, 
.contacts:focus {
    color: #2196F3;
    cursor: pointer;
} 


/* -------MAIN------- */


.main-title {
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
    
        color: #FFFFFF;
        background-color: #2F303A;;
}

.main-title-button {
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
    
        color: #FFFFFF;
        background-color: #2196F3;
}

.main-title-button:hover,
.main-title-button:focus {
    cursor: pointer;
}

/* --------Feature------- */

.feature-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #212121;
}

.feature-text {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
    
        color: #757575;
}


.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.66;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}

.work-photo {
    background: url(web-ui-designers-are-developing-application-smartphones-team-creators-is-working-interface-mobile-phones_8119-2713.jpg);
}

/* -------TEAM------- */

.team-title {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
        text-align: center;
        letter-spacing: 0.03em;
    
        color: #212121;
}

.team-after-title {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.18;
        text-align: center;
        letter-spacing: 0.03em;
    
        color: #757575;
}

.team-photo {
        background: url(4853.jpg);
        border-radius: 0px;
}

/* -------FOOTER------- */

.studio2 {
    color: #FFFFFF;
    background-color:#2F303A;
}

.footer-contacts {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
    
        letter-spacing: 0.03em;
    
        color: rgba(255, 255, 255, 0.6);
        background-color: #212121;
}

.address-item>a {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
    
        color: rgba(255, 255, 255, 0.6);
        background-color: #2F303A;
}

.location>a {
        color: #FFFFFF;
        background-color: #2F303A;
}

