body {
    font-family: roboto, sans-serif;
    color: var(--main-text-color);
}

:root {
    --main-text-color: #212121;
    --accent-color: #2196F3;
    --white-color: #ffffff;
    --black-color: #000000;
    --other-row-color: #757575;
    --background: #2F303A;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}



/* -------PORTFOLIO BTN------- */

.btn-list {
    
}
.btn-list-item {
    /* font-weight: 500; */
    font-size: 16px;
    line-height: 1.62;
    /* text-align: center; */
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}

.btnnn:hover, 
.btnnn:focus {
    background-color: var(--accent-color);
    color: var(--white-color);
    cursor: pointer;
}



/* -------PORTFOLIO PROJECTS------- */


.projects-list-title {
    /* font-weight: 700; */
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-text-color);
}
.projects-list-text {
    /* font-weight: 400; */
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--other-row-color);
}

.projects-after-title {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    
    color: var(--other-row-color);
}



/* -------HEAD------- */

.logo-head {
    font-family: 'Raleway';
    font-style: normal;
    /* font-weight: 700; */
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--black-color);
}
.web {
    color: var(--accent-color);
}

.menu-link {
    /* font-weight: 500; */
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--main-text-color)
}

.menu-link:hover,
.menu-link:focus {
    color: var(--accent-color);
}

.contacts-link {
    /* font-weight: 500; */
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--other-row-color);
}

.contacts-link:hover, 
.contacts-link:focus {
    color: var(--accent-color);
    cursor: pointer;
} 



/* -------MAIN------- */

.main {
    background-color: var(--background);
}
.main-title {
    /* font-weight: 900; */
    font-size: 44px;
    line-height: 1.36;
    /* text-align: center; */
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-color);
}

.main-title-button {
    /* font-weight: 700; */
    font-size: 16px;
    line-height: 1.88;
    /* display: flex;
    align-items: center;
    text-align: center; */
    letter-spacing: 0.06em;
    color: var(--white-color);
    background-color: var(--accent-color);
}

.main-title-button:hover,
.main-title-button:focus {
    cursor: pointer;
}



/* --------Feature------- */

.feature-title {
    /* font-weight: 700; */
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-text-color);
}

.feature-text {
    /* font-weight: 400; */
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--other-row-color);
}


.title {
    /* font-weight: 700; */
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}



/* -------TEAM------- */

.team-title {
    /* font-weight: 500; */
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: var(--main-text-color);
}

.team-after-title {
    /* font-weight: 400; */
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: var(--other-row-color);
}



/* -------FOOTER------- */

.footer {
    background-color: var(--background);
}

.logo-footer {
    font-family: 'Raleway';
    font-style: normal;
    /* font-weight: 700; */
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--white-color);
    
}

.footer-contacts {
    /* font-weight: 400; */
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    
}

.address {
    font-style: normal;
}

.address-link {
    /* font-weight: 400; */
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    
}

.address-link:hover,
.address-link:focus {
    color: var(--accent-color);
}

.location {
    color: var(--white-color);
    
}